h2{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
img{
    background-color: transparent;
    opacity: 1;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.list
{
    display: flex;
    flex-direction: row;
    padding:50px;
    justify-content:center;
    color: #fff;
    font-size: 1.5rem;
    flex-wrap: wrap;
}
.list_component_square
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    opacity: 1;
    align-items: center;
    background-color: #471D59;
}

.list_component_rectangle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 1;
    background-color: #471D59;
}